* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-img {
    height: 100px;
    width: 200px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
}

body {
    background-color: #ccc;
}

.container {
    width: 90%;
    margin: 3rem auto;
    background-color: white;
    padding: 1rem;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}